
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - ' }

block content
  .article-wrapper
    .top-go-back
      a(href=contents.index.url).center &laquo; Articles

    .article-title
      include author
      .article-title-img
        img(src=page.metadata.graphic)
      h1= page.title
    p.author
      | #{ 'Written by ' }
      +author(page.metadata.author)



    article.blog-article
      if page.metadata.video
        .youtube
          iframe(width="100%" height="100%" src=page.metadata.video+"?mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
      section.article-content!= typogr(page.html).typogrify()

    .paginator-wrapper.give-me-space-above
      a(href=contents.index.url).center &laquo; Articles
