
extends layout

block append title
  | #{ ' - Blog' }

block content
  .blog-primary-wrapper
    include author
    each article in articles
      .blog-primary-article
        .blog-article
          if article.metadata.graphic
            a(href=article.url)
              img(src=article.metadata.graphic).blog-primary-graphic
          div.article-title
            a(href=article.url)
              h1= article.title
          .article-header
            p.date
              span= moment.utc(article.date).format('DD. MMMM YYYY')
            //- h2
            //-   a(href=article.url)= article.title
          section.content
            if article.intro.length > 0
              != typogr(article.intro).typogrify()
            if article.hasMore
              p.more
                a(href=article.url) Continue Reading

    .paginator-wrapper
      if prevPage
        a(href=prevPage.url).left &laquo; Newer
      else
        a(href='/archive').left &laquo; Archive
      if nextPage
        a(href=nextPage.url).right Older &raquo;
