
extends layout

block content
    div.section-title
        p Projects
    div.projects
        .neumorphic(onMouseEnter="animateHoverOn(this)" onMouseLeave="animateHoverOff(this)")
            <h1><i class="fas fa-tshirt animate__animated animate__repeat-2 animate__swing icon-color" aria-hidden="true"></i> Custom Ebay Lister</h1>
            hr
            div.project-image
                a(href=locals.tShirt)
                    img(id="tshirt-logo", class="animate__animated animate__zoomInDown", src="/images/jasons-tees-logo.png", alt="Project Image", title="Project Image")

            div.project-specs
                p Language
                    ul
                        li
                            strong Javascript
                p Technology Used
                ul
                    <li><strong>NodeJS</strong>.</li>
                    <li><strong>Angular</strong> for the frontend.</li>
                    <li><strong>Angular Material</strong> component library.</li>
                    <li><strong>Express</strong> server for the backend.</li>
                    <li><strong>ImageMagick</strong> is used server side.</li>
                    <li><strong>Ebay API</strong> used to create listings.</li>
                    <li><strong>Contentful</strong> used as a database.</li>
                    <li><strong>Google Cloud</strong> virtual machine.</li>

                p Links
                .button-group
                    a(href=locals.tShirtBackendSource)
                        .button
                            strong Backend Source
                    a(href=locals.tShirtFrontendSource)
                        .button
                            strong Frontend Source
                    a(href=locals.tShirt)
                        .button
                            strong Live Website

        .neumorphic(onMouseEnter="animateHoverOn(this)" onMouseLeave="animateHoverOff(this)")
            <h1><i class="fa fa-gamepad animate__animated animate__repeat-2 animate__tada icon-color" aria-hidden="true"></i> Image Converter</h1>
            hr
            div.project-specs
                p Language
                    ul
                        li
                            strong C++
                p Technology Used
                    ul
                        <li><strong>LibPNG</strong></li>
                        <li><strong>GNU</strong> compiler</li>
                        <li><strong>Makefile</strong></li>
                p Links
                .button-group
                    a(href=locals.png2cSource)
                        .button
                            strong Source
                    a(href="/articles/png2c-example-rom/")
                        .button
                            strong Related Blog Post
        .neumorphic(onMouseEnter="animateHoverOn(this)" onMouseLeave="animateHoverOff(this)")
            <h1><i class="fas fa-blog animate__animated animate__repeat-2 animate__rubberBand icon-color" aria-hidden="true"></i> This Website / Blog</h1>
            hr
            .project-image
                a(href=locals.blog)
                    img(id="blog-logo", src="/images/blog-logo.svg", alt="Project Image", title="Project Image")
            .project-specs
                p Language
                    ul
                        li
                            strong Javascript
                p Technology Used
                ul
                    <li>Static website built with <strong>NodeJS</strong>.</li>
                    <li><strong>Netlify</strong> for automatic builds and hosting.</li>
                
                p Links
                .button-group
                    a(href=locals.blogSource)
                        .button
                            strong Source
                    a(href=locals.blog)
                        .button
                            strong Enter The Blog






    //- div.section-title.about-me-title
    //-     p About Me
    //- div.about-me.neumorphic(onMouseEnter="animateHoverOn(this)" onMouseLeave="animateHoverOff(this)")
    //-     <h1><i class="far fa-id-card animate__animated animate__repeat-2 animate__heartBeat icon-color" aria-hidden="true"></i> Who I Am</h1>
    //-     hr
    //-     p I am
